//===== Colors =====//
$blm-color-brand-primary: #212529;
$blm-color-brand-secondary: #de4437;
$blm-color-brand-secondary-hover: #ac281c;
$blm-color-brand-tertiary: #6c757d;

$blm-color-text-body: #212529;
$blm-color-text-secondary: #343d4f;
$blm-color-text-muted: #6c757d;
$blm-color-text-dark: #1e2022;

$blm-color-brand-error: #de4437;
$blm-color-brand-success: #28a745;
$blm-color-brand-warning: #ffc107;

$blm-color-brand-white: #ffffff;
$blm-color-brand-light: #f7f7f7;
$blm-color-brand-black: #000000;
$blm-color-brand-cream: #dfd6ce;
$blm-color-brand-cream-hover: #e9ecef;
$blm-color-brand-light-pink: #ffe8e6;
$blm-color-brand-medium-pink: #f6c5c5;
$blm-color-brand-dark-pink: #d4a7a7;
